#main {
	float: left;
	margin-top: 20px;
}

aside {
	float: left;
	margin-top: 20px;
}

#courses {
	float: left;
	width: 90%;
}

.course {
	width: 100%;
	margin-bottom: 10px;
	float: left;
	font-family: 'Roboto Slab', serif;
	font-size: 1.2em;
	color: #646464;
}

.course>a {
	color: #646464;
}

.course>a:hover {
	color: #fa713e;
}

.course>img {
	border: 2px solid #dfdfdf;
	border-radius: 5px;
	width: 35%;
	float: left;
	margin-right: 10px;
}

.course>span {
	float: right;
	font-weight: bold;
	color: rgba(236, 101, 80, 1);
}

#courses>a>.btn {/*сделали кнопку по центру*/
	float: left;
	margin-left: 30%;
}


#one_course {
	float: left;
	margin-top: 10px;
	width: 90%;
}

/*рамка*/
#one_course>a>img {
  float: left;
	width: 380px;
	border: 4px solid #808080;
    transition: all.6s ease;

}

/*цвет при наведении*/
#one_course>a>img:hover {
border: 4px solid #e8622d;;
	 transition: all.6s ease;
		
}

.heading {
	font-weight: lighter;/*делаем шрифт не жирным*/
	font-size: 1.4em;/*задаем размер шрифта*/
	font-family: 'Roboto Slab', serif;
	border-bottom: 2px solid #db6e6e;/*нижние подчеркивание нашнго шрифта*/
    float: left;/*уменьшили размер линий*/
    color: #4f4f4f;
    padding: 0px 5px;
}

.heading:first-letter {/*цвет для первый буквы*/
	color: #db6e6e;
}

#news {
	float: left;
}



/*===========адаптивность============*/
@media (min-width: 1051px)
{
		#main {
			width: 60%;
			margin-left: 3%;
		}

		aside {
			width: 30%;
			margin-left: 2%;
	    }

	   #news {
		margin-left: 10%;
		width: 90;
	    }

}


@media (max-width: 1050px) and (min-width: 911px)
{
		#main {
			width: 65%;
			margin-left: 2%;
		}

		aside {
			width: 32%;
	    }

	   #news {
		margin-left: 4%;
		width: 96;
	    }

}

@media (max-width: 910px) and (min-width: 500px)
{
		#main {
			width: 90%;
			margin-left: 5%;
		}

		aside {
			width: 50%;
			margin-left: 25%;
	    }

	   #news {
		margin-left: 4%;
		width: 96;
	    }

}


@media (max-width: 499px) 
{
		#main {
			width: 90%;
			margin-left: 5%;
		}

		aside {
			width: 80%;
			margin-left: 10%;
	    }

	   #news {
		margin-left: 4%;
		width: 96;
	    }

}

@media (max-width: 600px)
{
	#courses>a>.btn {
		margin-left: 5%!important;

	}
}

.block {
	background-color: #fafafa;
	width: 88%;
	padding: 3%;
	border-radius: 5px;
	border:1px solid silver;
	font-size: 1.1em;
	color: #3e3e3e;
	float: left;
	z-index: 5;
}

.bimg1{
	-webkit-transition: all .7s ease-out;
	cursor: pointer;
}


.bimg1:hover {
	box-shadow:
    1px 1px #D3D3D3,
    2px 2px #D3D3D3,
    3px 3px #D3D3D3,
    4px 4px #D3D3D3,
    5px 5px #D3D3D3,
    6px 6px #D3D3D3,
    7px 7px #D3D3D3,
    transform: translateY(-7px);
     -webkit-transform: translateY(-7px);
    -webkit-transition: all .7s ease-out;
    cursor: pointer;
}


.bimg{
    display: inline-block; /* Строчно-блочный элемент */
    overflow: hidden; /* Скрываем всё за контуром */
    cursor: pointer;
   
   }
   .bimg img{
    transition: 1s; /* Время эффекта */
    display: block; /* Убираем небольшой отступ снизу */
       cursor: pointer;
   }

  
   .bimg img:hover {
    transform: scale(1.2); /* Увеличиваем масштаб */
       cursor: pointer;
   }
}


